.sale-container{
    margin-top: 40px;
  }
  .sale-header {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 1600px;
      margin: 0 auto;
      padding: 10px 0;
    }
    
    
    .sale-title {
      font-size: 64px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #333333;
      margin-left: 16px;
    }
    
    
    .sale-line {
        flex: 1;
        height: 1px;
        background-color: #DDDDDD;
        position: relative;
        width: 100%;
        margin-left: 16px;
    }
    
    
    .all-sale-button {
      background-color: #ffffff;
      border: 1px solid #DDDDDD;
      padding: 8px 16px;
      cursor: pointer;
      border-radius: 4px;
      width: 150px;
      height: 36px;
      font-size: 16px;
      position: relative;
      margin-left: auto;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #8B8B8B;
      transition: color 0.3s ease;
    }
    .all-sale-button:hover{
      color: #282828;
    }
    .sale-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-bottom: 80px;
    }

    .sale-container .category-title{
        font-size: 64px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
      }